<div>
  <form id="createProductForm">
    <label for="productName">Nombre del producto:</label>
    <input type="text" id="productName" required>
    <label for="productPrice">Precio:</label>
    <input type="number" id="productPrice" required>
    <button type="button" id="createProductBtn">Crear Producto</button>
    <div>
      <button type="button" id="deleteProductsBtn">Eliminar Productos</button>
    </div>
  </form>
  <div id="realTimesProducts" class="uk-child-width-1-4@m" uk-grid>
      {{#each products}}
    <div>
        <div class="uk-card uk-card-default">
          <div class="uk-card-media-top">
          <img src="https://fotografias.antena3.com/clipping/cmsimages02/2022/12/20/E9EDE726-2AF4-42F4-A2B8-F6B0460D752A/leo-messi-toca-copa-mundo-futbol-ganar-final-argentina_103.jpg?crop=2185,1639,x104,y0&width=1200&height=900&optimize=low&format=webply" alt="Messi">
          </div>
          <div class="uk-card-body">
            <h3 class="uk-card-title">{{this.title}}</h3>
            <h5>ARG ${{this.price}}</h5>
            <p>{{this.description}}</p>
          </div>
        </div>
      </div>
      {{/each}}

  </div>

  <script>
  async function addProduct(event) {
  const productName = document.getElementById("productName").value;
  const productPrice = document.getElementById("productPrice").value;

  const response = await fetch("api/products/addProduct", {
    method: "POST",
    headers: {
      "Content-Type": "application/json",
    },
    body: JSON.stringify({
      title: productName,
      price: productPrice,
    }),
  });

    if (response.ok) {
      console.log(`elemento agregado ${productName}-${productPrice}`);
    } else {
      console.error("Error al agregar el producto");
    }
  }


  async function updateProductList() {
    try {
      const response = await fetch("api/products/getProducts");
      if (response.ok ) {
        const products = await response.json();
        const productList = document.getElementById("productList");
        productList.innerHTML = "";

        if (products.length > 0) {
          products.forEach((product) => {
            const li = document.createElement("li");
            li.textContent = `Nombre: ${product.title}, Precio: $${product.price}`;
            productList.appendChild(li);
          });
        } else {
          const li = document.createElement("li");
          li.textContent = "Carrito vacío. Agrega productos para verlos aquí.";
          productList.appendChild(li);
        }
      }
    } catch (error) {
      console.log("Error al obtener la lista de productos en el carrito:");
      const productList = document.getElementById("productList");
      productList.innerHTML = "";

      const li = document.createElement("li");
      li.textContent = "Error al obtener la lista de productos. Inténtalo nuevamente.";
      productList.appendChild(li);
    }
}

  async function deleteProducts() {
    const response = await fetch("api/products/deleteProducts", {
    method: "POST",
    });

      if (response.ok) {
        console.log("producto eliminado exitosamente");
      } else {
        console.error("Error al eliminar los productos");
      }
    }

  document.getElementById("createProductBtn").addEventListener("click", addProduct);
  document.getElementById("deleteProductsBtn").addEventListener("click", deleteProducts);
  </script>
</div>



